<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Details</title>
</head>
<body>

    <h1 th:if="${#lists.isEmpty(beers)}">No beers found for this style</h1>

    <div th:unless="${#lists.isEmpty(beers)}">
        <h1 th:text="${styleName}"></h1>

        <table border="1">
            <a href="../../view0.html">Back</a>
            <thead>
                <tr>
                    <th>Beer Name</th>
                    <th>Description</th>
                    <th>Brewery Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="b: ${beers}" th:object="${b}">
                    <td>
                        <span th:text="*{beerName}"></span> 
                    </td>
                    <td>
                        <span th:text="*{beerDescription}"></span> 
                    </td>
                    <td>
                        <a th:href="@{/beer/brewery/{id}(id=*{breweryId})}">
                            <span th:text="*{breweryName}"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    
</body>
</html>